.container{
    width: 100%;
    display: flex;
    margin: 10px 0;
}
.pblmBtn{
    color: #fff;
    display: inline-block;
    font-style: italic;
    padding: 20px 40px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    opacity: 0.8;
    margin-right: 20px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 205px);
}

.solveBtn{
    padding: 4px 10px;
    font-style: italic;
    font-weight: 500;
    opacity: 0.7;
    border: 2px solid blue;
    color: blue;
}

.easy{
    background-color: #0095FF;
}
.med{
    background-color: #190450;
}
.hard{
    background-color: #b1daeb;
}

.easyBorder{
    border: 2px solid #0095FF;
}
.medBorder{
    border: 2px solid #190450;
}
.hardBorder{
    border: 2px solid #b1daeb;
}

.details p {
    text-transform: capitalize;
    font-weight: 500;
    opacity: 0.8;
}