.container{
    background-color: #172146;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
}

.container > div{
    width: 20%;
}

.container h3{
    color: #8B90A3;
    text-transform: uppercase;
    font-size: 1em;
    margin: 25px 0 15px;
}

.container h6{
    padding-top: 6px;
    opacity: 0.8;
    word-spacing: 1px;
    line-height: 1.7;
    font-size: 0.7em;
}

.container p{
    text-transform: capitalize;
    opacity: 0.8;
    word-spacing: 1px;
    line-height: 1.7;
    font-size: 0.7em;
}

.container i{
    font-size: 1.5em;
    margin: 4px 0;
}

.icons > i{
    margin-right: 16px;
    margin-top: 15px;
    opacity: 0.8;
}

.mt20{
    margin-top: 20px;
}