@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}

.container{
    background-color: #F2F6FF;
    min-height: 100vh;
}

.content{
    margin-top: 55px;
    padding: 4%;
}

a{
    text-decoration: none;
    color: #000;
}

.accordion__button{
    outline: 0;
}